$Primary: #4c8ae6; /* United Nations Blue */
$PrimaryDarker: #2972e0; /* Bright Navy Blue */
$Secondary: #c42967; /* Dogwood Rose */
$SecondaryDarker: #972050; /* Jazzberry Jam */
$Success: #55b913; /* Kelly Green */ /*  */
$SuccessDarker: #449410; /* Slimy Green */
$Danger: #f31634; /* Imperial Red */
$DangerDarker: #bb0a21; /* Firebrick */
$Warning: #ffc247; /* Maximum Yellow Red */
$WarningDarker: #ffad05; /* Honey Yellow */
$Info: #6186bd; /* Glaucous */
$InfoDarker: #42679e; /* Queen Blue */

$Light: #edf3fd; /* Alice Blue */
$GrayLighter: #e1e4f1; /* Lavender Web */
$Gray: #d4d5e5; /* Lavender Web */
$GrayDarker: #bbb7cc; /* Lavender Gray */
$Dark: #061a37; /* Oxford Blue */

/*  Array of colors from _variables.scss */
$theme-colors: (
  primary: $Primary,
  secondary: $Secondary,
  success: $Success,
  info: $Info,
  warning: $Warning,
  danger: $Danger,
  light: $Light,
  gray: $Gray,
  dark: $Dark
) !default;

// Small tablets and large smartphones (landscape view)
$screen-xs-min: 320px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 480px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1080px;

// XXLarge tablets and desktops
$screen-xxl-min: 1500px;

// Large tablets and desktops
$screen-wd-min: 1920px;

@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}
@mixin wd {
  @media (min-width: #{$screen-wd-min}) {
    @content;
  }
}
